/* Фильтры для изображений в проекте */

.filter__contrast-saturate {
  filter: contrast(140%) saturate(200%);
}

.filter__brightness {
  filter: brightness(110%);
}

.filter__grayscale {
  filter: grayscale(30%);
}

.filter__hue-rotate-brightness {
  filter: hue-rotate(0.8turn) brightness(60%) ;
}

.filter__invert-sepia {
  filter: invert(100%) sepia();
}

.filter__contrast-brightness {
  filter: contrast(110%) brightness(190%) ;
}


