@media (width <=375px) {
  .header__title {
    margin-block-start: 120px;
    line-height: 49px;
  }

  .header__description {
    margin-block-start: 20px;
    line-height: 14px;
  }

  .theme-menu {
    inline-size: 75px;
  }

  .save__button {
    flex-direction: column;
    justify-content: space-evenly;
    inline-size: 310px;
    block-size: 80px;
  }

  .save__button-icon {
    width: 28px;
  }

  .save__button-description {
    margin-inline-start: 0;
  }

  .dialog {
    padding: 30px;
  }
}
