/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Общие стили/повторяющиеся */

.button {
  border: 2px solid var(--accentColor);
  color: var(--accentColor);
  font-family: var(--accentFont);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/* main */

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accentColor); /* цвет текста */
  background-image: repeating-linear-gradient(
      90deg,
      var(--gradientTheme),
      var(--gradientTheme) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      transparent,
      transparent 2px,
      var(--gradientTheme) 2px,
      var(--gradientTheme) 4px
    ),
    linear-gradient(
      var(--gradientLinearThemeStart),
      var(--gradientLinearThemeEnd)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--generalFont), sans-serif;
    font-weight: var(--generalFontTextWdth);
    font-variation-settings: 'wght' var(--generalFontTextWght);
  }
}

/* Шапка */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0;
  border: 2px solid var(--accentColor);
  font-family: var(--accentFont);
  background-color: var(--generalBckgColor);
  inline-size: clamp(375px, 100%, 700px);
  max-block-size: 370px;
}

.header__title {
  margin-block-start: 145px; /* 120px mobile */
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 49px;
  text-transform: uppercase;
}

.header__description {
  margin-block-start: 35px; /* 20px mobile */
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
  text-transform: uppercase;
}

.theme-menu {
  inline-size: 80px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0;
}

.theme-menu__item {
  position: relative;
  margin-block-end: 13px;
}

.theme-menu__button[disabled="true"]:before {
  content: "▶";
  position: absolute;
  left: -10px;
  opacity: 0.6;
  color: var(--accentColor);
  animation: menu__selector 0.5s infinite ease-in-out alternate;
  inline-size: 14px;
  block-size: 14px;
}

.theme-menu__button[disabled="true"] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transition: scale 0.3s;
  scale: 1;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  margin-bottom: -5px;
  background-color: black;
  transition: none;
  scale: 0;
}

/* Основной контент (карточки)*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: var(--generalBckgColor);
  min-block-size: 668px;
  inline-size: clamp(375px, 80%, 696px);
}

.card__title {
  align-self: flex-start;
  padding: 4px 10px 6px;
  font-family: var(--generalFont);
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--generalFontDisplayWght);
}

.card__image-container {
  position: relative;
}

.card__image {
  margin-block-end: 25px;
  inline-size: 100%;
}

.card__image-lable {
  position: absolute;
  top: 23px;
  right: 10px;
  z-index: 10;
  opacity: 0.5;
  color: var(--accentColor);
  font-family: var(--accentFont);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--strokeColor), 0 1px var(--strokeColor),
    1px 0 var(--strokeColor), 0 -1px var(--strokeColor);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--strokeColor)) or
    (-webkit-text-stroke: 1px var(--strokeColor))
) {
  .card__image-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--strokeColor);
    text-stroke: 1px var(--strokeColor);
  }
}

.card__description {
  margin: 0 26.95px 25px 25px;
  font-family: var(--generalFont), sans-serif;
  font-weight: var(--generalFontTextWght);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--generalFontTextWght);
}

/* Like section */

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 20px 25px 20px;
  block-size: 36px;
}

/* ♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥ Кнопка сердечка ♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥*/

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.contour {
  transition: fill 0.3s 0.06s linear;
}

.card__icon-button:hover .core {
  fill: var(--accentColor);
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accentColor);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heartFill);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heartFill);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heartFill);
}

.like-icon.is-liked .main-body {
  fill: var(--heartFill);
}

.like-icon.is-liked .contour {
  fill: var(--heartFill);
}

.heart__group {
  transform-origin: center center;
}

.like-icon.is-liked .heart__group {
  animation: heartbeat 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: heartSparks 0.3s ease-in 0.3s alternate;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accentColor);
  transition: border 0.3s ease;
}

/* ♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥ end like ♥ icon ♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥ */

/* Кнопка лайка с текстом LIKE/UNLIKE */

.card__like-button {
  position: relative;
  overflow: hidden;
  inline-size: 130px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accentColor);
  transition: translateX, 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 36px;
  inline-size: 126px;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accentColor);
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover:before {
  transform: translateX(0);
}

.card__like-button:hover .button__text {
  color: var(--buttonHoverColor);
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 99;
  font-size: 14px;
  line-height: 12.6px;
  text-transform: uppercase;
}

/* Подвал (кнопка сохранить на память) */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--generalBckgColor);
  block-size: 54px;
  inline-size: 335px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-transform: none;
  inline-size: 100%;
}

.save__button-icon {
  width: 21px;
  stroke: var(--accentColor);
}

.save__button:focus {
  outline: none;
  transition: box-shadow 0.3s ease;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accentColor);
}

.save__button-description {
  margin-inline-start: 9px;
  font-family: var(--accentFont);
  font-size: 14px;
  line-height: 12.6px;
}

/* Попап/диалог */

.dialog {
  position: fixed;
  z-index: 100;
  border: 2px solid var(--accentColor);
  padding: 30px 40px;
  background-color: var(--generalBckgColor);
  inline-size: clamp(340px, 90%, 360px);
}

.dialog[open] .dialog__container {
  display: flex;
  align-items: center;
}

.dialog__container {
  margin-block-end: 30px;
  color: var(--accentColor);
  font-family: var(--accentFont);
  font-size: 14px;
}

.dialog-description {
  margin-inline-start: 20px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__icon {
  flex-shrink: 0;
  stroke: var(--accentColor);
}

.dialog__button {
  padding: 10px 112px;
  font-size: 14px;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}
